:root {
  --ifm-color-primary:          #306d9b;
  --ifm-color-primary-dark:     #26577c;
  --ifm-color-primary-darker:   #1c415d;
  --ifm-color-primary-light:    #3982ba;
  --ifm-color-primary-lighter:  #5296c9;
  --ifm-color-gray-333:      #333333;
  --ifm-color-gray-444:      #444444;

  --caption-color: var(--ifm-color-gray-700);

  --ifm-h1-font-size: 2rem;
  --ifm-h2-font-size: 1.5rem;
  --ifm-h3-font-size: 1.25rem;
  --ifm-code-font-size: 95%;
}

html[data-theme='dark'] {
  --caption-color: #dddddd;
}

.heroBanner {
  background: linear-gradient(130deg, var(--ifm-color-primary), #141414 60%);
}
.whiteTextFill {
  position: relative;
  color: white;
  overflow: hidden;
}

.whiteTextFill span {
  position: relative;
  display: inline-block;
  background: linear-gradient(to right, white 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.4s ease;
}

.whiteTextFill:hover span {
  background-position: 0 0;
}

.no-icon-navbar .iconExternalLink_nPIU {
  display: none;
}

.navbar__link--active {
  color: var(--ifm-navbar-link-color);
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.under-image {
  text-align: center;
  font-size: 0.85rem;
  color: var(--caption-color);
  margin-top: 0.25rem;
  line-height: 1.3;
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.2rem;
}

blockquote {
  margin: 0 0 .1rem;
}

.footnotes h2 {
  display: none;
}